
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.hero {
    background: rgb(90,194,99);
    background: radial-gradient(circle, rgba(90,194,99,1) 0%, rgba(76,130,49,1) 100%);
}

.navbar-center {
    font-family: 'Damion', cursive;
}



  .Image { grid-area: Image;
 color: white;
    background-color: blueviolet;
 }

  .Recipe-Name-and-info { grid-area: Recipe-Name-and-info;
    background-color: burlywood;
   }

  .Ingredients { grid-area: Ingredients;
    background-color: greenyellow;
   }
   
   .Instructions { grid-area: Instructions;
     background-color: lightslategrey;
    }
    
   .Nutritional-Facts { grid-area: Nutritional-Facts;
    background-color: lightseagreen;
  }